@model ShoesListVM
@{
    ViewData["Title"] = "Home Page";
}

<table class="table">
    <thead>
        <tr>
            <th scope="col">picture</th>
            <th scope="col">brand</th>
            <th scope="col">Color</th>
            <th scope="col">prod.Country</th>
            <th scope="col">Price</th>
            <th scope="col">details</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model.Shoes)
        {
        <tr>
            <th><img src="@item.Picture" /></th>
            <td>@item.Brand</td>
            <td>@item.Color</td>
            <td>@item.ProductionCountry</td>
            <td>@item.Price</td>
            <td></td>
        </tr>
        }
    </tbody>
</table>